<section id="header">
          <div class="well">
            <h1>Welcome to the future of Don's Realtor Website</h1>
            <p>This page is currently under development, please check back in March 2014.</p>
            <p>2% Realty will be launching a promotion March - June 2014, contact me to learn
              how you can live mortgage free for the first month buying your home through me!</p>
            
            <div class="compareWrap">
            <table class="compare">
              <tbody>
                <tr>
                  <th>Selling Price</th>
                  <th>Based on 7/3 Commission</th>
                  <th>2% Realty™ Commission</th>
                  <th class="savings">Your Savings</th>
                </tr>
                <tr>
                  <td>$300,000</td>
                  <td>$13,000</td>
                  <td class="mint">$6,000</td>
                  <td class="mint savings roundTop">$7,000</td>
                </tr>
                <tr>
                  <td>$400,000</td>
                  <td>$16,000</td>
                  <td class="mint">$8,000</td>
                  <td class="mint savings">$8,000</td>
                </tr>
                <tr>
                  <td>$500,000</td>
                  <td>$19,000</td>
                  <td class="mint">$10,000</td>
                  <td class="mint savings">$9,000</td>
                </tr>
                <tr>
                  <td>$600,000</td>
                  <td>$22,000</td>
                  <td class="mint">$12,000</td>
                  <td class="mint savings">$10,000</td>
                </tr>
                <tr>
                  <td>$700,000</td>
                  <td>$25,000</td>
                  <td class="mint">$14,000</td>
                  <td class="mint savings">$11,000</td>
                </tr>
                <tr>
                  <td>$800,000</td>
                  <td>$28,000</td>
                  <td class="mint">$16,000</td>
                  <td class="mint savings">$12,000</td>
                </tr>
                <tr>
                  <td>$900,000</td>
                  <td>$31,000</td>
                  <td class="mint">$18,000</td>
                  <td class="mint savings">$13,000</td>
                </tr>
                <tr>
                  <td>$1,000,000</td>
                  <td>$34,000</td>
                  <td class="mint">$20,000</td>
                  <td class="mint savings">$14,000</td>
                </tr>
                <tr>
                  <td>$1,500,000</td>
                  <td>$49,000</td>
                  <td class="mint mintLast">$30,000</td>
                  <td class="mint savings mintLast">$19,000</td>
                </tr>
                <tr>
                  <td class="evo" colspan="4"><img alt="The Evolution of Realty" src="http://www.2percentrealty.ca/media/structure/evoTable.png"></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        <br>
        <p class="center">
          <a id="home-button"><%= link_to 'Contact Me', "#", class: "btn btn-warning btn-lg"%></a>
        </p>
       
          <br>
        </div>
        <div class="titles pull-right">
          <h6><a href="http://www.flickr.com/photos/davebloggs007/8996646186/sizes/k/in/photostream/" id="cc_ref">Photo</a> by Davbloggs007 <a href="http://creativecommons.org/licenses/by/2.0/" id="cc_ref">CC BY2.0</a></h6>
            <div class="clear-float"></div>
        </div>
  </section>

<section id="about">
  <h1>About</h1>
  <p>Mauris vitae tortor dolor, quis eleifend nisi. Pellentesque consequat eros id nulla gravida dictum. Sed congue mauris ac nunc egestas a tristique nisi dapibus. Etiam consectetur molestie condimentum. Duis a nibh in dui mollis laoreet. Phasellus quis tortor in velit euismod accumsan vitae ut ligula. Maecenas sit amet metus ipsum. Pellentesque suscipit ligula tellus. Praesent nec dui ac tellus bibendum faucibus. Ut tempus magna arcu, et pellentesque purus.</p>
  <p>In rhoncus nunc a lorem vulputate sit amet dapibus metus lacinia. Suspendisse vulputate egestas fringilla. Nulla est mauris, semper quis consequat ut, vestibulum eget felis. In quis mattis odio. Mauris ultrices augue a tortor venenatis commodo. Sed at iaculis magna. Fusce mollis laoreet consequat. Aliquam lobortis turpis vitae tellus feugiat eget semper ligula consequat. Vivamus tincidunt porttitor pretium. Aenean a ante arcu. Vestibulum tincidunt fringilla tincidunt.</p>
  <p>Proin dignissim sem varius lorem fringilla eget mollis sem porttitor. Aliquam erat volutpat. Mauris rutrum augue nec ipsum scelerisque vel condimentum mi pretium. Maecenas pharetra dolor non est hendrerit sollicitudin. Proin fringilla velit vitae eros malesuada venenatis sit amet nec velit. Proin purus lectus, cursus eu rhoncus et, convallis et mi. Aliquam quis libero velit, quis scelerisque dolor. Curabitur laoreet mollis sagittis. Maecenas vehicula, dui id elementum aliquam, lacus libero interdum urna, eget dignissim massa sem sit amet odio. Cras aliquam augue vel nibh suscipit placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</section>
<section id="photo">
  <div class="box">
  <h1>Background Size + RGBA</h1>
  <p>Scaling the background image to be as large as possible, or to fit inside the section.</p>
  <p>RGB color values for backgrounds with an alpha channel for opacity.</p>
  </div>
</section>
<section id="contact">
  <h1>Contact</h1>
  <p>Nunc vehicula ipsum eget dolor dapibus ut cursus dolor rutrum. Donec non dolor eros, sit amet fringilla leo. Vestibulum ac neque in urna posuere lobortis vel eget felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam pharetra mi sed metus egestas semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur posuere pharetra dignissim. Aenean rutrum mi vel nunc suscipit eu convallis sem sagittis. Etiam mauris quam, pellentesque ac adipiscing nec, euismod ac ante. Suspendisse faucibus tempor magna, a mollis est rutrum eu. Integer vehicula, felis sed varius pharetra, velit urna tristique enim, vel porttitor velit quam in ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi sagittis convallis velit, non cursus sem hendrerit at.</p>
  <p>Nulla faucibus sodales dignissim. Nullam purus odio, luctus quis lobortis et, euismod et est. Ut nulla tellus, porttitor et elementum ac, pharetra sit amet arcu. Donec facilisis tincidunt libero, tempus eleifend tortor luctus sit amet. Ut at luctus risus. Donec euismod condimentum facilisis. Praesent facilisis sodales tortor, condimentum vulputate diam pretium vitae. Quisque non nunc purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque velit neque, mollis sit amet faucibus vel, faucibus vitae orci. Vestibulum auctor massa eu elit adipiscing volutpat. Duis venenatis aliquam eros. Nulla volutpat porta mollis. Sed feugiat lobortis felis, non pulvinar tellus condimentum sit amet.</p>
</section>
<section id="footer">
  <h1>Footer</h1>
  <p>Aenean eleifend tempus nulla, at luctus lorem faucibus a. In augue turpis, facilisis et pellentesque a, ultricies quis velit. Maecenas eget eros augue, ac viverra ipsum. Pellentesque non lacus sem, eu mattis nunc. Fusce vel iaculis nisi. Nam pretium tempus erat id hendrerit. Quisque ut odio mauris, eu congue lectus. Donec sem arcu, vulputate eu faucibus eget, fringilla eu tortor. Vivamus volutpat justo vestibulum nulla lacinia eu auctor leo posuere. Integer risus lacus, suscipit aliquet egestas non, tincidunt nec massa. Fusce eu augue a mi rutrum pulvinar eu et leo. Praesent vel lectus vel eros auctor dapibus et et est. Praesent sapien arcu, interdum a convallis eget, facilisis cursus tellus.</p>
  <p>Aenean aliquet augue et ligula posuere faucibus. Maecenas sit amet tempor justo. Sed sit amet felis non enim fermentum condimentum a posuere justo. Nullam condimentum enim mauris, id volutpat neque. Fusce convallis nibh id magna accumsan faucibus. Fusce tincidunt felis vel nisl congue vitae aliquet velit mattis. Pellentesque sit amet odio a eros ullamcorper lobortis eget at ante. Mauris pulvinar, arcu ut laoreet blandit, enim nisl vehicula augue, vestibulum malesuada lacus odio eget enim. Quisque mi nunc, pulvinar sit amet dapibus eget, imperdiet non mauris. Phasellus lorem lacus, ullamcorper sed scelerisque et, ultricies in erat.</p>
  <p>Integer odio ligula, aliquam et ullamcorper sit amet, porttitor venenatis sapien. Fusce egestas nisi at orci molestie sed sodales tellus convallis. Nulla sagittis purus quis orci dapibus sit amet tristique magna fermentum. Fusce id massa sem, scelerisque lacinia ante. Donec nec nunc eros. Ut eu justo vitae diam blandit malesuada. Cras ac mattis sem. Aenean ac odio dolor, sit amet rhoncus quam. Pellentesque non tellus libero, quis scelerisque justo. Sed eget quam eu tortor dignissim lacinia et sed ipsum. Donec iaculis, tellus ut porta rhoncus, ligula risus egestas erat, non gravida metus risus eget leo. Vivamus gravida ullamcorper enim, ac lacinia felis lobortis sit amet. Nullam imperdiet magna id nisl scelerisque a tincidunt metus commodo. Phasellus nec ante nunc, at consectetur eros.</p>
</section>