<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div><img src="http://www.2percentrealty.ca/media/structure/menu_logo.png"></div>
      <div class="clear"></div>
      <div style="display:block">
      <nav>
        <ul class="header-contact">
          <li>don.wong@2percentrealty.ca</li>
          <li>403.903.2888</li>

        </ul>
      </nav></div>
    </div>
  </div>
</header>