%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    
    %img(src="http://www.2percentrealty.ca/media/structure/menu_logo.png")
      %ul
        %nav
          .li don.wong@2percentrealty.ca
          .li 100% MLS | 100% Realtor Services | 2% Commission